title = "cursos"
url = "/cursos/:id"
is_hidden = 0
==
<?php
use Jguerreroz\Sistemadeinformacion\Models\Cursos;
use Jguerreroz\Sistemadeinformacion\Models\Semestres;

function onStart()
{
    $this['Semestres1'] = Semestres::where('id',$this->param('id'))->first();
    $this['Cursos'] = Cursos::orderBy('id_semestre')->get();
}
?>
==
<!DOCTYPE html>
<html> 
    <head>
        <link href="{{ 'assets/css/cursos.css'|theme }}" rel="stylesheet">
        <title>cursos</title>  
    </head>
    
    <body>
    <div>
        <h1>    <b>{{Semestres1.nombre}}</b> <br> </h1>
        <div class = "contenedor">
            {% for curso in Semestres1.cursos %}    
                <div class = "opcion">
                <h1>Materia:      {{curso.nombre}}<br> </h1> 
                    codigo:       {{curso.id_curso}}<br>
                    creditos:     {{curso.creditos}}<br>
                    Horas asignadas :{{curso.h_asignado}}<br>
                    Horas de trabajo autonomo: {{curso.h_autonomo}}<br>
                <div/>
            {% endfor %}
    </div>
    
    <div class = "contenedor">
            {% for curso in Cursos %} 
                <div class = "opcion">
                    <h2>Materia:      {{curso.nombre}} <br> </h2>
                    codigo:       {{curso.id_curso}}<br>
                    creditos:     {{curso.creditos}}<br>
                    Horas asignadas :{{curso.h_asignado}}<br>
                    Horas de trabajo autonomo: {{curso.h_autonomo}}<br>
                </div>
            {% endfor %}
    </div>
    
        
    <div class = "boton">
        <h3> <a href = "/semestres/">{{ 'atras' }}</a></h3>
    </div>
    
    </body>