
h1 {
  color: red;
}

h2{
    color: blue;

    font-size: 30px;
}

.desktop{    
    display:flex;
    flex-flow: wrap;
    width: 1440px;
    height: 1024px;
    background-color: #ffffff;
}

.cuadros{
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
}
.contenedor{
    display: flex;
    flex-flow:wrap;
    width: 1200px;
    height:900px;
    background-color:#F7F3E3;
    border: 1px solid;
    justify-content: center;
}

.opcion{
    display: flex;
    flex-flow: wrap;
    width: 580px;
    height: 125px;
    background-color: #C4C4C4;
    
    border-radius: 30px; 
    cursor: pointer;
    font-size: 30px;
    position: relative;
    top: 30px;
    bottom: 5px;
 
    justify-content: center;
    line-height: normal;
}